<%# ----------- DO NOT CHANGE EXTENSION ------------ %>
<ul id="spotlight">
  <li class="spotlight-load">
    <%= link_to root_path do %>
      <div class="inside-div" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'https://images.unsplash.com/photo-1505844946015-958652cebdc1?auto=format&fit=crop&w=1051&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'%>)"">
      <h1>Les Opticiens du Vexin</H1>
      <p>Garantissent une bonne vue à vos enfants</p>
      </div>
    <% end %>
  </li>
  <% if 1 == 1 %>
      <li class="spotlight-load">
        <%= link_to root_path do %>
          <div class="inside-div" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'https://images.unsplash.com/photo-1489980721706-f487dab89c24?auto=format&fit=crop&w=1051&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'%>)"">
            <h1>Les Opticiens du Vexin</H1>
            <p>Vos opticiens de proximités depuis 1996</p>
          </div>
        <% end %>
      </li>
  <% end %>
  <% if 1 == 1 %>
      <li class="spotlight-load">
        <%= link_to root_path do %>
          <div class="inside-div" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'https://images.unsplash.com/photo-1442458370899-ae20e367c5d8?auto=format&fit=crop&w=967&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'%>)"">
            <h1>Les Opticiens du Vexin</H1>
            <p>Des produits de qualités</p>
          </div>
        <% end %>
      </li>
  <% end %>
  <% if 1 == 1 %>
      <li class="spotlight-load">
        <%= link_to root_path do %>
          <div class="inside-div" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'https://images.unsplash.com/photo-1491818689676-f257892134ef?auto=format&fit=crop&w=960&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'%>)"">
            <h1>Les Opticiens du Vexin</H1>
            <p>Mieux voir c’est mieux vivre</p>
          </div>
        <% end %>
      </li>
  <% end %>
  <% if 1 == 1 %>
      <li class="spotlight-load">
        <%= link_to root_path do %>
          <div class="inside-div" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'https://images.unsplash.com/photo-1494357085239-d3ea3fdc4f7a?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'%>)"">
            <h1>Les Opticiens du Vexin</H1>
            <p>Protégez vos yeux des rayons nocifs</p>
          </div>
        <% end %>
      </li>
  <% end %>
</ul>
